/* RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERIC */

body{
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
  width: 70%;
  margin: auto;
}

a{
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
}

.svg-rotation{
  transform: rotate(180deg);
  height: 200px;

}

.flex-container{
  display: flex;
}

.button{

  border-radius: 20px;
  padding: 12px 12px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

/* HEADER */

/* Header Top */
.header-top{
  background-color: #265ee9;
  padding: 10px 0;
}

.flex-top-container{
  justify-content: space-between;
  align-items: center; 
}

.header-top .container{
  width: 80%;
}

/* Menu */
.menu{

  list-style-type: none; 
  display: flex;
  justify-content: center;
}

.menu li{
  padding: 10px 25px;
}

.menu li a{

  color: white;
  font-size: 18px;
}

/* Login Button */
.login-button{
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  padding: 8px 12px;
  color: black;
  font-size: 14px;
}

/* HEADER BOTTOM */
.jumbotron-bg{

  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-content{

  text-align: center;
  padding: 150px 0;
  color: white;
}

.jumbotron-content h1{
  font-size: 55px;
  padding-bottom: 30px;
}

.jumbotron-content p{
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Buttons */
.button-download{
  background-color: white;
  color: black;
  font-size: 16px;

}

.button-browser{

  background-color: #23272a;
  color: white;
  font-size: 16px;
}

/* MAIN */
.section-color{

  background-color: white;
  padding: 50px 0;
}

.section-color2{

  background-color: #f6f6f6;
  padding: 50px 0;
}

.section-color3{

  background-color: #23272a;
  padding: 10px 0 30px 0;
}

/* CONTENT SECTION */
/* Section content 1 */
.section img{
  width: 700px;
}
.section h2{
  padding: 40px 0px 20px 0;
  font-size: 40px;
}
.section p{
  padding: 15px 0;
  font-size: 18px;
  line-height: 25px;
}

.section{
  justify-content: space-between;
}

/* section 2 */
.section2{
  text-align: center;
}
.section2 h2{
  padding: 40px 0px 15px 0;
  font-size: 40px;
}

.section-color2 p{
  padding: 15px 0;
  font-size: 18px;
  line-height: 25px;
}

.text-bg{
  font-size: 28px;
  background: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 35;
  padding: 40px 5px;
  font-weight: 700;
}

.downlod-button2{

  color: white;
  background-color: #7189da;
  font-size: 16px;
}
/* .content-box{
  display: flex;
  width: 70%;
  border: 1px dashed black;
}
*/


/* FOOTER */
.main-footer{
  list-style-type: none;
  color: #7089da;
  font-size: 20px;
   
}
.main-footer li{
  padding: 8px 0;
}
.main-footer img{
  width: 15%;
  display: inline-block;
}
.main-footer span{
  font-size: 15px;
}

/* HR */
hr{
  border: 1px solid #838485;
}

.footer-section-color{
  
  /* test */
  background-color: #23272a;
  
}

.flex-container-footer{

  justify-content: space-between;
  align-items: center;
  
  /* test */
  /* padding: 10px 0; */
  height: 50px;
  background-color: #7fffd4;
}

.logo-footer{
  background-color: #ffb6c0;
  padding: 2px;
  width: 5%;
  text-align: center;
}

.login-footer{
  background-color: #ffb6c0;
  text-decoration: none;
  color: inherit;
  padding: 2px;
  width: 7%;
  text-align: center;
}

.footer-section-color hr{
  margin-bottom: 20px;
}