/* RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERIC */

body{
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
  width: 70%;
  margin: auto;
}

a{
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
}

.flex-container{
  display: flex;
}

.button{

  border-radius: 20px;
  padding: 12px 12px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

/* HEADER */

/* Header Top */
.header-top{
  background-color: #265ee9;
  padding: 10px 0;
}

.flex-top-container{
  justify-content: space-between;
  align-items: center; 
}

.header-top .container{
  width: 80%;
}

/* Menu */
.menu{

  list-style-type: none; 
  display: flex;
  justify-content: center;
}

.menu li{
  padding: 10px 25px;
}

.menu li a{

  color: white;
  font-size: 18px;
}

/* Login Button */
.login-button{
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  padding: 8px 12px;
  color: black;
  font-size: 14px;
}

/* HEADER BOTTOM */
.jumbotron-bg{

  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-content{

  text-align: center;
  padding: 150px 0;
  color: white;
}

.jumbotron-content h1{
  font-size: 55px;
  padding-bottom: 30px;
}

.jumbotron-content p{
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Buttons */
.button-download{
  background-color: white;
  color: black;
  font-size: 16px;

}

.button-browser{

  background-color: #23272a;
  color: white;
  font-size: 16px;
}

/* MAIN */
.section-color{

  /* test */
  background-color: white;
  padding: 30px 0;
}

.section-color2{

  /* test */
  background-color: #d3d3d3;
  padding: 30px 0;
}

.section-color3{

  /* test */
  background-color: #23272a;
  padding: 10px 0 30px 0;
}

/* CONTENT SECTION */
.content-box{
  display: flex;
  width: 70%;
  border: 1px dashed black;
}
.content1{

  /* test */
  height: 390px;
  width: 60%;
  background-color: #1d90ff;
  border: 1px dashed black;
}

.content2{

  /* test */
  height: 390px;
  width: 40%;
  background-color: #ffbfcb;
  border: 1px dashed black;
}

.content3{

  /* test */
  height: 650px;
  width: 100%;
  background-color: #238b21;
  border: 1px dashed black;
}

.content4{

  /* test */
  height: 390px;
  width: 30%;
  background-color: #f08080;
  border: 1px dashed black;
}

.content5{

  /* test */
  height: 100%;
  width: 25%;
  background-color: #20b2aa;
  border: 1px dashed white;
}

/* HR */
hr{
  border: 1px solid #838485;
}

/* FOOTER */
.footer-section-color{
  
  /* test */
  background-color: #23272a;
  
}

.flex-container-footer{

  justify-content: space-between;
  align-items: center;
  
  /* test */
  /* padding: 10px 0; */
  height: 50px;
  background-color: #7fffd4;
}

.logo-footer{
  background-color: #ffb6c0;
  padding: 2px;
  width: 5%;
  text-align: center;
}

.login-footer{
  background-color: #ffb6c0;
  text-decoration: none;
  color: inherit;
  padding: 2px;
  width: 7%;
  text-align: center;
}

.footer-section-color hr{
  margin-bottom: 20px;
}